---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="about us"
    description="meow!"
    pubDate={new Date("Jan 01 1984")}
    heroImage="/screenshot-about.png"
>
    <p>hey there, first off, thanks for reading up on us.</p>

    <p>
        our server always runs the latest version of minecraft, but we plan to
        also include a b1.7.3 flavor of mmnc as a seperate server in the near
        future :3
        <br />
        head to the home screen to get the IP to join us!
    </p>

    <p>
        we also intend to open source everything - our plugins, this website and
        more - all on our github
    </p>

    <h2>How to play?</h2>
    <p>
        our IP is on the home page of this website, <a href="/"
            >so go there and copy it :3</a
        >
    </p>
    <p>
        we recommend the <a
            href="https://modrinth.com/modpack/fabulously-optimized"
            >Fabulously Optimized modpack</a
        >, which you can download immediately from inside <a
            href="https://prismlauncher.org/">Prism Launcher</a
        >
    </p>
    <p>
        additionally, to spice up your experience, you can use the <a
            href="https://modrinth.com/plugin/simple-voice-chat"
            >Simple Voice Chat mod</a
        > (optional), which our server supports c:
    </p>

    <h2>Code of Conduct <br /> (Da Rules)</h2>
    <p>
        it's important that we, the players, don't flip our little cute server
        on it's head. so we prepared some rules that you'll have to follow if
        you want to play:
    </p>
    <ol class="mb-8 list-decimal">
        <li>No exploits, hacking/cheating or griefing</li>
        <li>No homophobia, transphobia, xenophobia, racism etc.</li>
        <li>Don't be a mean kitty/ouppy</li>
        <li>
            Use CWs when you can, so people aren't put off by stuff you say or
            build
        </li>
        <li>No doxxing, harassment, ban evasion or dogpiling</li>
        <li>
            Do not spread false or misleading information and/or malicious links
        </li>
        <li>Do not promote violent ideologies or incite violence</li>
    </ol>

    <h2>The fun stuff</h2>
    <p>our server features:</p>
    <ul class="mb-8 list-disc">
        <li>
            Enhanced vanilla survival experience, no pay2win stuff or extra
            mechanics
        </li>
        <li>
            The ability to set your real height with <code
                >/height [your height in cm]</code
            >
        </li>
        <li>
            Pronouns with <a href="https://pronoundb.org/">PronounDB.org</a> integration
        </li>
        <li>
            Emojis! Simply use <code>:emoji:</code>, for e.g. <code>:star:</code
            > to print a ⭐
        </li>
        <li>
            Voice chat support through <a
                href="https://modrinth.com/plugin/simple-voice-chat"
                >Simple Voice Chat</a
            > mod
        </li>
    </ul>

    <h2>How to report bugs or players?</h2>
    <p>
        tell an admin (pink name) or mod (light blue name) in chat, or <a
            href="https://github.com/orgs/meowmeownyacraft/discussions"
            >tell us on github discussions</a
        >
    </p>
    <p>
        if it's a <strong>bug</strong>, then make a github issue <a
            href="https://github.com/meowmeownyacraft/mmnc/issues">here</a
        >
    </p>

    <h2>The cute cat girls (staff)</h2>
    <ul>
        <li>i1vy (she/her)</li>
        <ul>
            <li><a href="https://i1vy.moe/">Website</a></li>
            <li><a href="https://mastodon.social/@i1vy">Fedi</a></li>
            <li><a href="https://namemc.com/profile/i1vy.2">NameMC</a></li>
        </ul>
        <li>nvkomata (she/her)</li>
        <ul>
            <li><a href="https://nvkomata.gitlab.io/">Website</a></li>
            <li><a href="https://mastodon.online/@nvkomata">Fedi</a></li>
            <li><a href="https://namemc.com/profile/nvkomata.1">NameMC</a></li>
        </ul>
    </ul>
</Layout>
