---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ServerWidget from "../components/ServerWidget.astro";
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_DESCRIPTION, MAIN_IP } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="bg-main bg-cover bg-fixed bg-center dark:bg-gray-950">
        <Header />
        <main class="text-slate-200 mx-auto mt-12">
            <h2
                class="text-center text-slate-200 mt-8 font-light [text-shadow:_0_0_1em_rgb(0_0_0_/_80%)]"
            >
                hi! welcome to
                <span
                    class="bg-gray-800/50 p-2 backdrop-blur-sm rounded-lg inline-block [text-shadow:_0_0_1em_rgb(0_0_0_/_0%)]"
                >
                    <span
                        class="bg-clip-text text-transparent bg-gradient-to-r from-[#5bcefa] to-[#f5a9b8] font-black"
                        >mmnc</span
                    ></span
                >
            </h2>
            <p
                class="mb-12 text-center [text-shadow:_0_0_1em_rgb(0_0_0_/_80%)] text-base font-bold"
            >
                'mmnc' stands for meowmeownyacraft. It's a new minecraft server,
                where our goal is to enhance the vanilla experience with fun
                stuff and make it comfy :3
            </p>
            <ServerWidget />
        </main>
    </body>
</html>
