---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ServerWidget from "../components/ServerWidget.astro";
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_DESCRIPTION, MAIN_IP } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="bg-main bg-cover dark:bg-gray-950">
        <Header />
        <main class="text-slate-200 min-h-[75vh] mt-8 drop-shadow-lg">
            <h1 class="text-center text-slate-50 mt-8">
                hi! welcome to <span
                    class="bg-clip-text text-transparent bg-gradient-to-r from-[#5bcefa] to-[#f5a9b8]"
                    >mmnc</span
                >
            </h1>
            <p class="mb-12 text-center">
                'mmnc' stands for meowmeownyacraft. It's a new minecraft server,
                where our goal is to enhance the vanilla experience with fun
                stuff and make it comfy :3
            </p>
            <ServerWidget />
            <Footer />
        </main>
    </body>
</html>
