---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import { SITE_TITLE } from "../consts";
import SideNav from "./SideNav.astro";
---

<header
    class="sticky top-0 z-20 bg-slate-50/80 dark:bg-gray-900/70 dark:text-slate-100 backdrop-blur-lg min-h-10"
>
    <nav>
        <h2 class="md:w-40 my-0 max-sm:mx-auto max-sm:mt-2">
            <a href="/"
                ><span
                    class="bg-clip-text text-transparent bg-gradient-to-r
                    dark:from-[#5bcefa] dark:to-[#f5a9b8] from-[#459dbf] to-[#bd828e] text-nowrap font-black"
                    >{SITE_TITLE}</span
                >
                <Image
                    inferSize
                    src="https://avatars.githubusercontent.com/u/173955009"
                    alt=""
                    class="inline-block max-h-12 max-w-12 max-sm:hidden"
                    loading="eager"
                /></a
            >
        </h2>
        <div class="internal-links text-base max-sm:hidden">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="social-links w-40 md:flex max-md:hidden justify-end">
            <a href="https://github.com/meowmeownyacraft" target="_blank">
                <span class="sr-only">Our Github</span>
                <svg
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    width="32"
                    height="32"
                    ><path
                        fill="currentColor"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                    ></path></svg
                >
            </a>
        </div>
    </nav>
</header>
<SideNav />
<style>
    header {
        margin: 0;
        padding: 0 1em;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }
    h2 {
        font-size: 1em;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    .social-links a {
        display: flex;
    }
</style>
