---
import Nav from "./Nav.astro";

const { class: className } = Astro.props;
---

<header class:list={[className]}>
    <a href="/" class="grow">
        <img
            src="/logo.svg"
            alt=""
            class="pt-4 mx-auto w-48 h-32 object-contain"
            loading="eager"
        />
    </a>

    <Nav />
</header>
